# EditorConfig is awesome: http://EditorConfig.org
# Used by: https://foo-company.ro

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# For Vagrant configuration files
[Vagrantfile]
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[*.{css,htm,html,js,less,py,sass,scss}]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
